<header id="header" class="dark sticky-style-2">
  <div class="container clearfix">
    <div id="logo">
      {{#link-to "index" class="standard-logo" data-dark-logo="assets/images/logo-dark.png"}}
        <img src="assets/images/logo.png" alt="RAST Logo">
      {{/link-to}}

      {{#link-to "index" class="retina-logo" data-dark-logo="assets/images/logo-dark@2x.png"}}
        <img src="assets/images/logo@2x.png" alt="RAST Retina Logo">
      {{/link-to}}
    </div>

    <ul class="header-extras">
      <li>
        <i class="i-plain icon-email3 nomargin"></i>

        <div class="he-text">
          Bize Yazın
          <a href="mailto:tolga.ustun@rastenerji.com?subject=%C4%B0nternet%20Sitesi%20%C3%9Czerinden%20E-Mail" target="_blank" title="E-Mail Gönderin">tolga.ustun@rastenerji.com</a>
        </div>
      </li>

      <li>
        <i class="i-plain icon-call nomargin"></i>

        <div class="he-text">
          Bizi Arayın
          <a href="tel:+905325095005" title="Arayın">+905325095005</a>
        </div>
      </li>
    </ul>
  </div>

  <div id="header-wrap">
    {{rast-navbar}}
  </div>
</header>