<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="assets/images/slider/1.jpg" alt="First Slide">
    </div>

    <div class="swiper-slide">
      <img src="assets/images/slider/2.jpg" alt="Second Slide">
    </div>

    <div class="swiper-slide">
      <img src="assets/images/slider/3.jpg" alt="Third Slide">
    </div>
  </div>
</div>
