<nav id="primary-menu" class="style-2">
  <div class="container clearfix">

    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

    <ul style="touch-action: pan-y;">
      <li class="sub-menu">
        {{#link-to "index" class="sf-with-ul"}}
          <div>ANASAYFA</div>
        {{/link-to}}
      </li>

      <li class="current sub-menu">
        {{#link-to "about-us" class="sf-with-ul"}}
          <div>HAKKIMIZDA</div>
        {{/link-to}}

        <ul>
          <li>
            <a href="#" class="sf-with-ul">
              <div><i class="icon-stack"></i>BİZ KİMİZ</div>
            </a>
          </li>

          <li>
            <a href="widgets.html" class="sf-with-ul">
              <div><i class="icon-gift"></i>FAALİYET ALANLARIMIZ</div>
            </a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#" class="sf-with-ul">
          <div>HİZMETLERİMİZ</div>
        </a>
      </li>

      <li>
        <a href="#" class="sf-with-ul">
          <div>REFERANSLARIMIZ</div>
        </a>
      </li>

      <li>
        <a href="#" class="sf-with-ul">
          <div>İLETİŞİM</div>
        </a>
      </li>
    </ul>

    <!-- Top Search
    ============================================= -->
    <div id="top-search">
      <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
      <form action="search.html" method="get">
        <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
      </form>
    </div><!-- #top-search end -->
  </div>
</nav>
