<footer id="footer" class="dark">
  <div class="container">
    ...
  </div>

  <div id="copyrights">
    <div class="container clearfix">
      Copyright © 2016 RastEnerji.com, Her hakkı saklıdır.
    </div>
  </div>
</footer>
