<div class="iportfolio">
  <div class="portfolio-image">
    <a href="portfolio-single.html">
      <img src="assets/images/portfolio/1-preview.jpg" alt="First Thing">
    </a>
  </div>

  <div class="portfolio-desc">
    <h3><a href="portfolio-single.html">Open Imagination</a></h3>
  </div>
</div>