<div id="wrapper" class="clearfix">
  {{rast-header}}

  <section id="content">
    <div class="content-wrap">
      <div class="container clearfix">
        {{outlet}}
      </div>
    </div>
  </section>

  {{rast-footer}}
</div>
